
# Ignore everything
*

# Unignore directories (to all depths) and unignore code and style files in these directories
!.github/**/
!.vscode/**/
!doc/**/
!webpack-4/**/
!webpack-5/**/
!src/**/

!**/*.js
!**/*.css
!**/*.html
!**/*.md
!**/*.json
