
# Ignore everything
*

# Unignore directories (to all depths) and unignore code and style files in these directories
!.github/**/
!.vscode/**/
!/src/**/
!doc/**/

!**/*.js
!**/*.css
!**/*.html
!**/*.md
!**/*.json
